.brands::after {
  content: "";
  width: 24px;
  height: 72px;
  position: absolute;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
  right: 0;
  z-index: 2;
  bottom: 43px;
}
.brands__title {
  color: #7E7E82;
  padding: 16px 32px;
  border-top: 1px solid #D9FFF5;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFF 98.61%);
  margin: 0;
  font-family: "TT Lakes - Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.brands__list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
  row-gap: 16px;
  padding: 0;
  margin: 16px;
  box-sizing: border-box;
}
.brands__list.open {
  max-height: 100%;
}
.brands__list::-webkit-scrollbar {
  display: none;
}
.brands__item {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  align-items: center;
  height: 72px;
  min-width: 240px;
  max-width: 240px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFFFFF;
}
.brands__item:hover {
  scale: 1.02;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
.brands__img {
  width: auto;
  height: auto;
  max-height: 52px;
  max-width: 120px;
}
.brands__showMore {
  display: none;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 0 24px;
  font-family: "TT Lakes - Medium";
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.brands__showMore:hover {
  cursor: pointer;
}

.swiper {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.swiper-slide {
  width: fit-content !important;
  margin: 0 !important;
}

.swiper-pagination-horizontal {
  display: flex !important;
  position: inherit;
  justify-content: center;
  padding-top: 16px;
  bottom: 0 !important;
  top: 0 !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD !important;
}

@media (min-width: 320px) and (max-width: 425px) {
  .brands__title {
    padding: 16px;
  }
  .brands__list {
    margin: 16px 0;
    padding: 0 16px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .brands__title {
    padding: 16px 24px;
  }
  .brands__list {
    margin: 24px 0;
  }
}
@media (min-width: 768px) and (max-width: 1366px) {
  .brands {
    margin-top: 16px;
  }
  .brands__title {
    padding: 16px 24px;
  }
  .brands__list {
    margin: 24px 24px;
    padding: 0;
    flex-wrap: wrap;
    column-gap: 24px;
    max-height: 160px;
    overflow: hidden;
  }
  .brands__item {
    min-width: 224px;
    max-width: 224px;
  }
  .brands__showMore {
    display: flex;
    padding: 0 24px;
  }
  .swiper-pagination-horizontal {
    display: none !important;
  }
}
@media (min-width: 1366px) {
  .brands {
    margin-top: 24px;
  }
  .brands__title {
    padding: 16px 32px;
  }
  .brands__list {
    flex-wrap: wrap;
    column-gap: 32px;
    max-height: 160px;
    overflow: hidden;
    margin: 24px 0;
    padding: 0 32px;
  }
  .brands__item {
    max-height: 240px;
  }
  .brands__showMore {
    display: flex;
    padding: 0 24px;
  }
  .swiper-pagination-horizontal {
    display: none !important;
  }
}

/*# sourceMappingURL=Brands.css.map */
