@import "../../../styles/vars.scss";

.brands {
  &::after {
    content: '';
    width: 24px;
    height: 72px;
    position: absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    right: 0;
    z-index: 2;
    bottom: 43px;
  }
  &__title {
    color: $--color_gray;
    padding: 16px 32px;
    border-top: 1px solid $--color_border;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFF 98.61%);
    margin: 0;

    font-family: "TT Lakes - Regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 16px;
    row-gap: 16px;
    padding: 0;
    margin: 16px;
    box-sizing: border-box;
    &.open {
      max-height: 100%;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    align-items: center;
    height: 72px;
    min-width: 240px;
    max-width: 240px;

    border-radius: 6px;
    border: 1px solid $--color_stroke;

    background: $--color_white;
    &:hover {
      scale: 1.02;
      cursor: pointer;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
    }
  }
  &__img {
    width: auto;
    height: auto;
    max-height: 52px;
    max-width: 120px;
  }
  &__showMore {
    display: none;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 0 24px;

    font-family: "TT Lakes - Medium";
    color: $--color_dark;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    &:hover {
      cursor: pointer;
    }
  }
}

.swiper {
  height: 100% !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.swiper-wrapper {

}
.swiper-slide {
  width: fit-content !important;
  margin: 0 !important;
}
.swiper-slide-active {

}
.swiper-slide-next {

}
.swiper-pagination-horizontal {
  display: flex !important;
  position: inherit;
  justify-content: center;
  padding-top: 16px;
  bottom: 0 !important;
  top: 0 !important;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD !important;
}

@media (min-width: 320px) and (max-width: 425px){
  .brands {
    &__title {
      padding: 16px;
    }
    &__list {
      margin: 16px 0;
      padding: 0 16px;
    }
    &__item {}
  }
}
@media (min-width: 425px) and (max-width: 768px){
  .brands {
    &__title {
      padding: 16px 24px;
    }
    &__list {
      margin: 24px 0;
    }
    &__item {}
  }
}
@media (min-width: 768px) and (max-width: 1366px){
  .brands {
    margin-top: 16px;
    &__title {
      padding: 16px 24px;
    }
    &__list {
      margin: 24px 24px;
      padding: 0;
      flex-wrap: wrap;
      column-gap: 24px;
      max-height: 160px;
      overflow: hidden;
    }
    &__item {
      min-width: 224px;
      max-width: 224px;
    }
    &__showMore {
      display: flex;
      padding: 0 24px;
    }
  }
  .swiper-pagination-horizontal {
    display: none !important;
  }
}
@media (min-width: 1366px){
  .brands {
    margin-top: 24px;
    &__title {
      padding: 16px 32px;
    }
    &__list {
      flex-wrap: wrap;
      column-gap: 32px;
      max-height: 160px;
      overflow: hidden;
      margin: 24px 0;
      padding: 0 32px;
    }
    &__item {
      max-height: 240px;
    }
    &__showMore {
      display: flex;
      padding: 0 24px;
    }
  }
  .swiper-pagination-horizontal {
    display: none !important;
  }
}