/*TT Lakes*/

@font-face {
    font-family: 'TT Lakes - Regular';
    src: url('../assets/fonts/TTLakes-Regular.ttf') format('truetype'),
    url('../assets/fonts/TTLakes-Regular.eot') format('opentype'),
    url('../assets/fonts/TTLakes-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'TT Lakes - Medium';
    src: url('../assets/fonts/TTLakes-Medium.ttf') format('truetype'),
    url('../assets/fonts/TTLakes-Medium.eot') format('opentype'),
    url('../assets/fonts/TTLakes-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'TT Lakes - Bold';
    src: url('../assets/fonts/TTLakes-Bold.ttf') format('truetype'),
    url('../assets/fonts/TTLakes-Bold.eot') format('opentype'),
    url('../assets/fonts/TTLakes-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}
