@import "vars.scss";
@import "~normalize.css";
@import "fonts.css";

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $--color_bg;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

footer {
  flex: 0 0 auto;
}

.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

img {
  width: auto;
  height: 100%;
}

//Button
.btn {
  display: flex;
  gap: 8px;
  color: $--color_white;
  padding: 5px 8px 5px 12px;
  margin: 0;
  background-color: #FF3E79;
  border: none;
  border-radius: 16px;

  text-align: right;
  font-family: 'TT Lakes - Bold';
  font-size: 12px;
  font-style: normal;
  line-height: 24px; /* 200% */
  letter-spacing: -0.15px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

//Form
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;

  &__field {
    background-color: $--color_white;
    border: 1px solid $--color_stroke;
    border-radius: 8px;
    padding: 12px 16px;
    width: 100%;
    box-sizing: border-box;

    font-family: 'TT Lakes - Medium';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    line-height: 24px;
    &:focus {
      outline: 2px solid $--color_main;
    }
    &.message {
      min-height: 120px;
      resize: none;
    }
  }
  &__description {
    font-family: 'TT Lakes - Medium';
    color: $--color_gray;
    font-size: 14px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 16px;
  }
  &__link {
    color: $--color_main;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__btn {
    max-width: 140px;
    margin-left: auto;
  }
}

//Hover icon
.ic {
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  &:active {
    opacity: 0.8;
  }
}

@media (min-width: 1366px) {
  .container {
    margin: 0;
  }
  main {
    margin-left: 300px;
  }
}
