//Color
$--color_main:        #FF3E79;
$--color_white:       #FFFFFF;
$--color_dark:        #1B1C21;

$--color_ocean:       #41F6D7;

$--color_gray:        #7E7E82;

$--color_bg:          #F8F8F8;

$--color_border:      #D9FFF5;
$--color_stroke:      #EAEAEA;
