.sideBar {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 100%;
  margin-top: 24px;
  box-sizing: border-box;
}
.sideBar::after {
  content: "";
  width: 24px;
  height: 40px;
  position: absolute;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
  right: 0;
}
.sideBar__list {
  display: flex;
  overflow-x: auto;
  margin: 0;
  gap: 5px;
  padding: 0 16px;
}
.sideBar__list::-webkit-scrollbar {
  display: none;
}
.sideBar__item {
  display: flex;
  padding: 8px 16px;
  text-wrap: nowrap;
  font-family: "TT Likes - Medium";
  font-size: 16px;
  color: #7E7E82;
  font-weight: 500;
  border: 2px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
.sideBar__item:hover {
  cursor: pointer;
  color: #FF3E79;
}
.sideBar__item.active {
  background: #FFFFFF;
  border: 2px solid #41F6D7;
  border-radius: 6px;
}
.sideBar__content {
  display: none;
  flex-direction: column;
  margin: 24px 0;
}
.sideBar__content.active {
  display: flex;
}
.sideBar__description {
  padding: 0 16px;
}
.sideBar__text {
  max-height: 90px;
  overflow: hidden;
  margin: 0;
  margin-right: 30px;
  font-family: "TT Likes - Regular";
  color: #1B1C21;
  font-size: 14px;
  font-style: normal;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
  transition: 0.3s;
}
.sideBar__text.open {
  max-height: 100%;
}
.sideBar__readMore {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin: 16px 0;
  font-family: "TT Likes - Medium";
  color: #1B1C21;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.sideBar__readMore:hover {
  cursor: pointer;
}
.sideBar__image {
  width: 100%;
  max-width: 480px;
}

@media (min-width: 320px) and (max-width: 425px) {
  .sideBar {
    padding: 0;
  }
  .sideBar__content {
    flex-direction: column;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
  .sideBar__content {
    flex-direction: column;
  }
  .sideBar__description {
    display: flex;
    flex-direction: column;
  }
  .sideBar__text {
    min-width: 300px;
  }
  .sideBar__image {
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 768px) and (max-width: 1366px) {
  .sideBar {
    padding: 0 16px;
  }
  .sideBar__list {
    padding: 0;
  }
  .sideBar__content {
    flex-direction: row;
  }
  .sideBar__description {
    padding: 0;
  }
  .sideBar__text {
    max-width: 700px;
    min-height: 145px;
  }
  .sideBar__image {
    width: 100%;
    margin-left: auto;
  }
}
@media (min-width: 1366px) {
  .sideBar {
    padding: 0 24px;
  }
  .sideBar__list {
    padding: 0;
    flex-wrap: wrap;
  }
  .sideBar__content {
    flex-direction: row;
  }
  .sideBar__description {
    padding: 0;
    max-width: 700px;
    margin-right: auto;
  }
  .sideBar__text {
    max-height: 200px;
  }
  .sideBar__image {
    max-width: 720px;
  }
  .sideBar__readMore {
    display: none;
  }
}

/*# sourceMappingURL=Services.css.map */
