@import '../../../styles/vars.scss';

ul {list-style: none;}

.header {
  display: flex;
  align-items: center;
  height: 88px;
  padding: 0 16px;
  background-color: $--color_white;
  border-bottom: 1px solid $--color_border;
  font-family: "TT Lakes - Regular";
  &__inner {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;
  }
  &__list {
    width: auto;
    display: flex;
    gap: 16px;
    align-items: center;
    margin: 0;
    padding: 0;
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      position: relative;
      padding-left: 20px;
      margin-left: auto;
      &::before {
        content: '';
        height: 32px;
        width: 2px;
        background-color: #EAEAEA;
        position: absolute;
        left: 0;
      }
    }
  }
  &__item {
    height: 40px;
    width: 40px;
  }
  &__logo {
    padding-right: 16px;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}



@media (min-width: 768px) and (max-width: 1366px) {
  .header {
    padding: 0 24px;
    &__list {
      &:nth-child(2) {
        display: flex;
        margin-left: auto;
      }
      &:nth-child(3) {
         margin-left: 20px;
       }
    }
  }
}

@media (min-width: 1366px) {
  .header {
    display: none;
  }
}