@import '../../../styles/vars.scss';



.title {
  display: flex;
  align-items: center;
  position: relative;
  color: $--color_dark;
  font-family: "TT Lakes - Bold";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px; /* 142.857% */
  letter-spacing: -0.6px;
  padding-left: 16px;
  margin: 0;
  &__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  }
  &__list {
    display: none;
    flex-direction: row;
    gap: 32px;
    padding: 0;
    margin: 0 30px 0 auto;
  }
  &__item {
    font-family: "TT Lakes - Medium";
    color: $--color_dark;
    display: flex;
    flex-direction: row;
    gap: 8px;
    transition: 0.2s;
    &:hover {
      cursor: pointer;
      color: $--color_main;
      opacity: 0.9;
    }
  }
  &:before {
    content: '';
    width: 4px;
    height: 40px;
    position: absolute;
    left: 0;
    top:0;
    background-color: $--color_ocean;
    border-radius: 0 4px 4px 0;
  }
}

@media (min-width: 768px) and (max-width: 1366px){
  .title {
    padding-left: 35px;
  }
}

@media (min-width: 1366px){
  .title {
    padding-left: 35px;
    &__wrapper {
      margin-top: 30px;
    }
    &__list {
      display: flex;
    }
    &:before {
      top: 4px;
    }
  }
}