@import "../../../../styles/vars.scss";

.feedback {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transform: translate(100%);
  transition: all 0.2s;
  &.open {
    transform: translate(0);
  }
  &__overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: -1;

    position: absolute;
  }
  &__title {
    position: relative;
    color: $--color_dark;
    font-family: "TT Lakes - Bold";
    font-size: 24px;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
    padding-left: 16px;
    margin-top: 100px;
    margin-bottom: 0;
    &:before {
      content: '';
      width: 4px;
      height: 40px;
      position: absolute;
      left: -2px;
      top: 0;
      background-color: $--color_ocean;
      border-radius: 4px;
    }
  }
  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $--color_white;
    height: 100vh;
    max-width: 440px;
    margin-left: auto;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
    border-left: 1px solid #D9FFF5;
  }
  &__form {
    margin-top: 24px;
  }
  &__ic {
    position: absolute;
    width: fit-content;
    top: 24px;
    left: 16px;
  }
}

@media (min-width: 320px) and (max-width: 768px){

}
@media (min-width: 768px) and (max-width: 1366px){
  .feedback {
    &__title {
      margin-top: 32px;
    }
    &__ic {
      position: absolute;
      top: 32px;
      left: -64px;
    }
  }
}
@media (min-width: 1366px) {
  .feedback {
    &__title {
      padding-left: 32px;
      margin-top: 32px;
    }
    &__ic {
      position: absolute;
      top: 32px;
      left: -64px;
    }
    &__form {
      padding: 0 32px;
    }
  }
}